header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
  padding-left: 150px;
  height: 120px;

  .img-overlay {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.935);
  }

  a {
    color: white;
    text-decoration: none;
    margin-left: 32px;
    font-weight: 500;
    font-size: 24px;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  img {
    width: 65px;
    height: 65px;
  }
}
