<h1>Impressum</h1>

<div class="content">
  Im Folgenden finden Sie die Textdaten für Ihr persönliches
  Website-Impressum<br />
  gemäß der von Ihnen getätigten Angaben. Sofern Sie in Ihrer Website einen<br />
  Eingabe-Editor für Ihre Inhalte nutzen, können Sie den folgenden Text
  direkt<br />
  herauskopieren und dort einfügen. Sofern Sie die Inhalte alternativ als<br />
  HTML-Quellcode in Ihrem Website integrieren möchten, können Sie den<br />
  anschließend aufgeführten HTML-Quellcode nutzen. Textversion des Impressums<br /><br />
  für Ihre Website Impressum Angaben gemäß § 5 TMG <br />Gökay Nuri Sahin<br />
  Sonnengasse<br />
  74072 Heilbronn<br />
  Kontakt E-Mail: goekay.sahin@gmx.net Redaktionell<br /><br />
  verantwortlich Gökay Nuri Sahin
</div>
